
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal-dialog{
  position: absolute !important;
  right: 10px !important;
  height: 90vh !important;
}
.modal-content{
  height: 90vh;
  width: 300px !important;
}
.modal-backdrop.fade {
  opacity: 0.1 !important;
}
